<section class="card">
  <a href="/blogs/"></a>
  <div class="card-body">
    <div class="head-title">
      <div><h3 class="title">{{title}}</h3></div>
      <div><h4>Posted by {{author}} on {{date}}</h4></div>
    </div>
    <div><p>{{content}}</p></div>
  </div>
</section>