<section class="card">
  <a href="/blogs/"></a>
  <div class="card-body">
    <div class="header">{{title}}</div>
    <div><p>Posted by {{author}} on {{date}}</p></div>
    <div><P>{{content}}</P></div>
  </div>
</section>